// main: ../../style.less

.user {
    display: flex;
}

.user_avatar {  
    max-width: 57px;
    max-height: 57px;
    img {
        width: 57px;
        height: 57px;
        border-radius: 50%;
    }
}

.user_content {
    padding-left: 0.9rem;

}

.user_name {
    margin-bottom: 3px;
     
    font-size: 1.6rem;
    font-weight: 700;
    color: @black;
    line-height: 1.8rem;
    
}

.user_prof {
    font-size: 1.2rem;
    color: fade(@black, 70%);
}