// main: ../../style.less

.progress-bar {
    margin-bottom: 3.8rem;
}

.progress-bar_item {
    display: flex;
    align-items: center;
}

.progress-bar_title {
    font-size: 1.4rem;
    line-height: 1.6;
    color: @black;
    font-weight: 300;

}

.progress-bar_left {
    min-width: 95px;
}

.progress-bar_right {
    padding-left: 1.9rem;
}

.progress-bar_bar {
    width: 139px;
    height: 6px;
    background-color: #EFEFEF;
}

.progress-bar_progress {
    height: 100%;
    background-color: @gray;

    transition: width 0.2s linear;
}